.error_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.error_content {
  color: white;
  font-size: 2rem;
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
